<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="mb-3">
  <%= button_to "Add Comment", new_comment_path(post_id: @post.id), method: :post, class:"btn btn-dark"%>
</div>

<div class="mb-3">
  <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-dark"%>
</div>

<div class="mb-3">
  <%= link_to "Back to posts", posts_path, class:"btn btn-dark"%>
</div>

<div class="mb-3">
  <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-dark"%>
</div>
